@import './variables', './pages/homePage.scss', './pages/contactPage.scss';

header,
footer {
  background-color: $main;
}

#menu,
#about,
#contact,
#notFound {
  margin-top: 2.5rem;
  width: 83.333333%;
  margin-right: auto;
  margin-left: auto;
}
